---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="terms of services">
    <section class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold text-center mb-6">Terms of Service</h1>
        <p class="text-lg mb-4">
          These Terms of Service govern your use of Buisnesstoolsonline&apos;s services. By accessing or using our services, you agree to be bound by these terms.
        </p>
        <h2 class="text-xl font-semibold mb-2">User Account</h2>
        <p class="mb-4">
          You may need to create an account to access certain features of our platform. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
        </p>
        <h2 class="text-xl font-semibold mb-2">Service Usage</h2>
        <p class="mb-4">
          Our services are intended for lawful purposes only. You agree not to use our platform for any illegal or unauthorized activities.
        </p>
        <h2 class="text-xl font-semibold mb-2">Intellectual Property</h2>
        <p class="mb-4">
          All content and materials available on our platform, including but not limited to text, graphics, logos, images, and software, are the property of Buisnesstoolsonline and are protected by intellectual property laws.
        </p>
        <h2 class="text-xl font-semibold mb-2">Limitation of Liability</h2>
        <p class="mb-4">
          Buisnesstoolsonline shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of our services.
        </p>
        <h2 class="text-xl font-semibold mb-2">Changes to Terms</h2>
        <p class="mb-8">
          We reserve the right to update or modify these Terms of Service at any time. Any changes will be effective immediately upon posting the revised terms on our platform.
        </p>
        <h2 class="text-xl font-semibold mb-2">Contact Us</h2>
        <p>
          If you have any questions or concerns about our Terms of Service, please contact us at <a href="mailto:contact@example.com" class="text-blue-600">contact@example.com</a>.
        </p>
      </section>
</Layout>