---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="privacy-policy">
    <section class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold text-center mb-6">Privacy Policy</h1>
        <p class="text-lg mb-4">
          Buisnesstoolsonline is committed to protecting your privacy. This Privacy Policy explains how we collect, use, and disclose information about you.
        </p>
        <h2 class="text-xl font-semibold mb-2">Information we Collect</h2>
        <ul class="list-disc pl-6 mb-4">
          <li>
            <span class="font-bold">Personal Information</span>: When you sign up for our email newsletter service or user authentication solutions, we may collect personal information such as your name, email address, and contact details.
          </li>
          <li>
            <span class="font-bold">Usage Information</span>: We may collect information about how you interact with our platform, including usage statistics and device information.
          </li>
          <li>
            <span class="font-bold">Chat Data</span>: If you use our platform for chatting with your team, we may collect and store chat data for providing the service.
          </li>
        </ul>
        <h2 class="text-xl font-semibold mb-2">How We Use Your Information</h2>
        <ul class="list-disc pl-6 mb-4">
          <li>Providing and improving our services</li>
          <li>Personalizing your experience</li>
          <li>Communicating with you about our services</li>
          <li>Analyzing usage trends and optimizing performance</li>
        </ul>
        <h2 class="text-xl font-semibold mb-2">Information Sharing</h2>
        <p class="mb-4">
          We do not sell, trade, or rent your personal information to third parties. However, we may share your information with trusted third-party service providers who assist us in operating our platform.
        </p>
        <h2 class="text-xl font-semibold mb-2">Data Security</h2>
        <p class="mb-4">
          We implement security measures to protect your information from unauthorized access, alteration, disclosure, or destruction. However, no method of transmission over the internet or electronic storage is 100% secure.
        </p>
        <h2 class="text-xl font-semibold mb-2">Changes to This Privacy Policy</h2>
        <p class="mb-4">
          We may update this Privacy Policy from time to time. Any changes will be posted on this page with a revised effective date.
        </p>
        <h2 class="text-xl font-semibold mb-2">Contact Us</h2>
        <p class="mb-8">
          If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:contact@example.com" class="text-blue-600">contact@example.com</a>.
        </p>
      </section>
</Layout>